.about {
  background: url('./AboutBG.jpg') center;
  background-size: cover;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  //color: white;
  
}

.about__text {
  //width: 30%;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.7);
  //letter-spacing: 1px;
  a {
    color:  #2E87D9;
    text-decoration: none;
  }
  //border: 3px solid black;
  padding: .5rem;
  h3, h4 {
    margin: 0;
  }
}