@import '../../media_queries.scss';

$droid-sans: 'Droid Sans', sans-serif;

.navigation {
  color: white;
  font-family: $droid-sans;
  min-width: 100%;
  a {
    text-decoration: none;
    color: currentColor;
    font-size: 16px;
    background: black;
    &.active {
      background: white;
      color: black;
    }
    display: block;
    min-height: 100%;
    padding: .8em .6em;
    @include bp-large {
      font-size: 20px;
    }
  }
}

.navigation__list--mobile,
.navigation__list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  li {
    flex: 1;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
}

.navigation__list--mobile {
  @include bp-medium {
    display: none;
  }
}

.navigation__list {
  display: none;
  @include bp-medium {
    display: flex;
  }
}