@import '../../typography.scss';
.home {
  background: url('../../images/perspectiveBG.jpg') center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.home__text {
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 100%;
  padding: .6rem .4rem;
  h1,
  h4 {
    margin: 0;
  }
}