.home {
  background: url('../../images/perspectiveBG.jpg') center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  @media screen and (min-width: 62em) {
    flex-direction: row;
    align-items: center;
  }
}

.home__text {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: .6rem .4rem;
  font-size: 20px;
  h1,
  h4 {
    margin: 0;
  }
   @media screen and (min-width: 62em) {
    width: 35%;
    margin-right: 5%;
    background-color: transparent;
    font-size: 24px;
  }
  @media screen and (min-width: 74em) {
    width: 30%;
    margin-right: 10%;
    //font-size: 26px;
  }
  @media screen and (min-width: 110em) {
    width: 25%;
    margin-right: 10%;
    font-size: 28px;
  }
}