.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100%;
  flex: 1; }

@media screen and (max-width: 60em) {
  .content h3,
  .content p {
    margin: .5rem 0; } }

@media screen and (min-width: 62em) {
  .content {
    flex-direction: row;
    align-items: center; }
  .content div {
    margin: 0 1rem;
    flex: 1; } }
