.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100%;
  flex: 1; }

@media screen and (min-width: 960px) {
  .content {
    flex-direction: row;
    align-items: center;
    padding: 1rem; }
  .content div {
    padding: 1rem; } }
