
svg {
    border: 4px solid black; }

.two-point {
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  animation: anim 8s ease-in-out forwards;
  }

@keyframes anim {
  from {
    stroke-dashoffset: 3500; 
    }
  to {
    stroke-dashoffset: 0; } }
