

.two-point {
  stroke-dasharray: 3840;
  stroke-dashoffset: 3840;
  animation: anim 8s ease-in-out forwards;
}

 @keyframes anim {
  from {
    stroke-dashoffset: 3840;
  }
  to {
    stroke-dashoffset: 0;
  }
}