@import './typography.scss';

a {
  text-decoration: none;
  background: black;
	color: currentColor;
  padding: .7rem 1rem;
  padding-right: 3rem;
  margin: .5rem 0;
  display: block;

  &.active {
    background: white;
    color: black;
  }
}


.navigation {
  //background:#E6E3DF;
  //border: 1px solid black;
  color: white;
  flex-basis: 30vmin;
  //align-items: center;
  justify-content: flex-end;
  display: flex; 
  //min-height: 100%;
  //padding-left: 1rem;
  font-family: $title-font-one;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.page {
  border: 1px solid black;  
  flex: 1;
  min-height: 100%;
  //background: beige;

}