@import './typography.scss';
@import './media_queries.scss';

body {
  font-size: 20px;
  background: white;
  color: #24251C;
}

a {
  text-decoration: none;
  color: currentColor;
  font-size: 16px; //font-weight: 600;
  background: black;
  &.active {
    background: white;
    color: black;
  }
  display: block;
  min-height: 100%;
  padding: .8rem .6rem;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.page {
  flex: 1;
}