@import '_typography';

body {
  font-size: 24px;
  background: white;
  color: #24251C;
  
  @media screen and (min-width: 62em) {
    font-size: 26px;
  }
  
  @media screen and (min-width: 110em) {
    font-size: 32px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}