html {
  font-size: 1.15em; }

body {
  font-family: "Gurajada", serif;
  font-weight: 400;
  line-height: 1.25; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: .8em; }

/*
html {font-size: 1.25em;}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-family: $body-font2;
}

p {  
  margin-bottom: 1.3em;
  }

h1, h2, h3, h4 {
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}
*/
/*html {font-size: 1.25em;}

body {
  font-weight: 400;
  line-height: 1.45;
}

p {
  font-family: $body-font;
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  font-family: $title-font-one;
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414em 0 .5em;
}

h1 {
  font-size: 5.063em;
  margin-top: 0;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}

small {font-size: .667em;}*/
/*@mixin bp-medium {
  @media screen and (min-width: 44em) {
    @content;
  }
}

@mixin bp-large {
  @media screen and (min-width: 74em) {
    @content;
  }
}

@mixin bp-xlarge {
  @media screen and (min-width: 110em) {
    @content;
  }
}
*/
body {
  font-size: 20px;
  background: white;
  color: #24251C; }

a {
  text-decoration: none;
  color: currentColor;
  font-size: 16px;
  background: black;
  display: block;
  min-height: 100%;
  padding: .6rem .5rem; }

a.active {
  background: white;
  color: black; }

.main {
  display: flex;
  /*
  flex-wrap: wrap;*/
  flex-direction: column;
  height: 100vh; }

.navigation {
  color: white;
  font-family: "Open Sans", sans-serif;
  min-width: 100%; }

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center; }

.navigation__list li {
  flex: 1;
  border: 1px solid white;
  border-top: none;
  border-bottom: none; }

.navigation__list li:first-child {
  border-left: none; }

.navigation__list li:last-child {
  border-right: none; }

.page {
  flex: 1; }
