@import './typography.scss';
@import './mixins.scss';

a {
  text-decoration: none;
  color: currentColor;
  font-size: 16px;
  //font-weight: 600;
    background: black;
  &.active {
    background: white;
    color: black;
  }
  display: block;
  min-height: 100%;
  padding: .6rem .5rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.navigation {
  color: white;
  font-family: $title-font5;
  min-width: 100%;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  text-align: center; //width:100%;
  align-items: center;
  li {
    //flex:1 1 auto;
    flex: 1;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
}

.page {
  //border: 1px solid black;
  //margin: auto;
  //border: 1px solid red;
}