html {
  font-size: 1.25em; }

body {
  font-weight: 400;
  line-height: 1.45; }

p {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  font-family: "Abril Fatface", cursive;
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414em 0 .5em; }

h1 {
  font-size: 5.063em;
  margin-top: 0; }

h2 {
  font-size: 3.375em; }

h3 {
  font-size: 2.25em; }

h4 {
  font-size: 1.5em; }

small {
  font-size: .667em; }

a {
  text-decoration: none;
  background: black;
  color: currentColor;
  padding: .7rem 1rem;
  padding-right: 3rem;
  margin: .5rem 0;
  display: block; }

a.active {
  background: white;
  color: black; }

.navigation {
  color: white;
  flex-basis: 30vmin;
  justify-content: flex-end;
  display: flex;
  font-family: "Abril Fatface", cursive; }

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; }

.page {
  border: 1px solid black;
  flex: 1;
  min-height: 100%; }
