$body-font: 'Gurajada', serif;


html {font-size: 1.15em;}

body {
  font-family: $body-font;
  font-weight: 400;
  line-height: 1.2;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small {font-size: .8em;}
